<div class="page">
    <br/>
    <h2>Start Creating Portfolio</h2>
    <h3>Login Page</h3>
    <form [formGroup]="loginRef" (ngsubmit)="home()" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">User Name</span>
            <input type="text" formControlName="user" class="form-control" aria-label="Username" aria-describedby="basic-addon1" /> <br/></div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
            <input type="password" formControlName="pass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" /> <br/></div>

        <div class="col-12">
            <input type="button" value="Login" class="btn btn-primary" (click)="home()" />
        </div>
        <div class="col-12">
            <input type="reset" value="Reset" class="btn btn-primary" />
        </div><br/>
        <div class="col-12">
            <input type="button" value="SignIn" class="btn btn-primary" (click)="signIn()" />
        </div>
    </form>
    <br/>


</div>